/* body {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

div {
    width: fit-content;
    height: fit-content;
    background-color: cornflowerblue;
    color: chartreuse;
    border-radius: 5px 5px;
    border-width: 2px;
    border-style: double;
    border-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

button {
    background-color: blueviolet;
    margin: 5px;
}

input {
    margin: 5px 5px;
}