div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-right: 5px;
    background-color: yellowgreen;
    color: teal;
    border-radius: 5px 5px;
    border-width: 2px;
    border-style: double;
    border-color: red;
    font-size: 20px;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 50px;
}